{% load i18n %}

<footer class="card card-body p-4 border-0 rounded-4">
  <div class="container d-grid gap-4">
    <div class="row g-4">
      <div class="col-12 col-lg-6">
        <div class="d-grid gap-4">
          <h1 class="display-3 mb-0">
            {% translate 'Tasks' %}
          </h1>
          <p class="lead mb-0">
            {% translate 'A comprehensive task management system' %}
          </p>
        </div>
      </div>
  
      <div class="col-12 col-lg-6">
        <div class="d-flex aligns-items-center gap-4 py-lg-5">
          <nav class="nav">
            <a class="nav-link" href="{% url 'tasks:index' %}">
              {% translate 'Home' %}
            </a>
            <a class="nav-link" href="{% url 'tasks:profile' %}">
              {% translate 'Account' %}
            </a>
            <a class="nav-link" href="{% url 'tasks:lists' %}">
              {% translate 'Task Lists' %}
            </a>
          </nav>
        </div>
      </div>
    </div>
    <small class="text-muted text-center">
      {% translate 'All rights reserved' %}
    </small>
  </div>
</footer>