{% load i18n %}

<div class="card card-body p-4 rounded-4 border-0 shadow-sm">
  <div class="d-flex flex-row align-items-center justify-content-between mb-4">
    <h3 class="mb-0">{{ list.name|title }}</h3>
    <div class="dropdown">
      <button class="btn btn-sm btn-light rounded-3" data-bs-toggle="dropdown">
        <i class="bi bi-three-dots"></i>
      </button>
      <ul class="dropdown-menu rounded-3 border-0 shadow-sm">
        <li>
          <h4 class="dropdown-header mb-0">
            {% translate 'Options' %}
          </h4>
        </li>
        <li>
          <a href="{% url 'tasks:update_list' list.id %}" class="dropdown-item d-flex flex-row align-items-center gap-4">
            <i class="bi bi-pencil"></i>
            <span class="dropdown-item-text">
              {% translate 'Edit list' %}
            </span>
          </a>
        </li>
        <li>
          <a href="{% url 'tasks:delete_list' list.id %}" class="dropdown-item d-flex flex-row align-items-center gap-4">
            <i class="bi bi-trash"></i>
            <span class="dropdown-item-text">
              {% translate 'Delete list' %}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-grid gap-4 card-text">
    <p class="lead mb-0">{{ list.description|default:'' }}</p>
    <ul class="list-unstyled mb-0">
      <li>
        <small class="text-muted">
          {% translate 'Tasks: ' %} {{ list.task_set.count }}
        </small>
      </li>
    </ul>
    <a href="{% url 'tasks:list_detail' list.id %}" class="btn btn-lg btn-dark shadow-sm">
      {% translate 'Details' %}
    </a>
  </div>
</div>