{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-white rounded-4 m-2 p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'tasks:index' %}">
      <strong>{% translate 'Tasks' %}</strong>
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-4 gap-lg-2" href="{% url 'tasks:index' %}">
            <i class="bi bi-house"></i>
            {% translate 'Home' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-4 gap-lg-2" href="{% url 'tasks:lists' %}">
            <i class="bi bi-list"></i>
            {% translate 'My Task Lists' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-4 gap-lg-2" href="{% url 'tasks:create_list' %}">
            <i class="bi bi-plus-lg"></i>
            {% translate 'New' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-4 gap-lg-2" href="{% url 'tasks:starred' %}">
            <i class="bi bi-star"></i>
            {% translate 'Starred' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-4 gap-lg-2" href="{% url 'tasks:completed' %}">
            <i class="bi bi-check-lg"></i>
            {% translate 'Completed' %}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <button class="btn btn-lg btn-dark fw-bold rounded-5 w-100" data-bs-toggle="dropdown">
            {{ request.user.username|capfirst }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end rounded-3 border-0 shadow-sm">  
            <li>
              <h4 class="dropdown-header mb-0">
                {% translate 'Account' %}
              </h4>
            </li>
            <li>
              <a href="{% url 'tasks:profile' %}" class="dropdown-item d-flex flex-row align-items-center gap-4">
                <i class="bi bi-person"></i>
                <span class="dropdown-item-text">
                  {% translate 'Profile' %}
                </span>
              </a>
            </li>
            <li>
              <a href="{% url 'tasks:update_user' request.user.id %}" class="dropdown-item d-flex flex-row align-items-center gap-4">
                <i class="bi bi-pencil"></i>
                <span class="dropdown-item-text">
                  {% translate 'Edit Account' %}
                </span>
              </a>
            </li>
            <li>
              <a href="{% url 'logout' %}" class="dropdown-item d-flex flex-row align-items-center gap-4">
                <i class="bi bi-power"></i>
                <span class="dropdown-item-text">
                  {% translate 'Log out' %}
                </span>
              </a>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item d-flex align-items-center gap-4">
          <a href="{% url 'login' %}" class="btn btn-lg btn-outline-dark rounded-5 fw-bold w-100">
            {% translate 'Login' %}
          </a>
          <a href="{% url 'tasks:register' %}" class="btn btn-lg btn-dark rounded-5 fw-bold w-100">
            {% translate 'Register' %}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>