{% load i18n %}

<div class="card card-body p-4 rounded-4 border-0 shadow-sm">
  <div class="d-flex flex-row align-items-center justify-content-between mb-4">
    <h3 class="mb-0">{{ task.title|title }}</h3>
    <div class="d-flex align-items-center gap-3">
      <form method="post" action="{% url 'tasks:mark_task' task.id %}" class="d-flex align-items-center gap-3">
        {% csrf_token %}
        <input type="hidden" id="starred-{{ task.id }}" name="starred" value="{{ task.starred }}">
        <input type="hidden" id="completed-{{ task.id }}" name="completed" value="{{ task.completed }}">

        <button type="submit" class="btn btn-sm btn-{% if task.starred %}warning{% else %}light{% endif %} rounded-3"
          onclick="document.getElementById('starred-{{ task.id }}').setAttribute('value', !{% if task.starred %}true{% else %}false{% endif %})">
          <i class="bi bi-star{% if task.starred %}-fill{% endif %}"></i>
        </button>
        <button type="submit" class="btn btn-sm btn-{% if task.completed %}success{% else %}light{% endif %} rounded-3"
          onclick="document.getElementById('completed-{{ task.id }}').setAttribute('value', !{% if task.completed %}true{% else %}false{% endif %})">
          <i class="bi bi-check-square{% if task.completed %}-fill{% endif %}"></i>
        </button>
      </form>

      <div class="dropdown">
        <a href="#" class="btn btn-sm btn-light rounded-3" data-bs-toggle="dropdown">
          <i class="bi bi-three-dots"></i>
        </a>
        <ul class="dropdown-menu rounded-3 border-0 shadow-sm">
          <li>
            <h4 class="dropdown-header mb-0">
              {% translate 'Options' %}
            </h4>
          </li>
          <li>
            <a href="{% url 'tasks:update_task' task.id %}"
              class="dropdown-item d-flex flex-row align-items-center gap-4">
              <i class="bi bi-pencil"></i>
              <span class="dropdown-item-text">
                {% translate 'Edit task' %}
              </span>
            </a>
          </li>
          <li>
            <a href="{% url 'tasks:delete_task' task.id %}"
              class="dropdown-item d-flex flex-row align-items-center gap-4">
              <i class="bi bi-trash"></i>
              <span class="dropdown-item-text">
                {% translate 'Delete task' %}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="d-grid gap-4 card-text">
    <p class="lead mb-0">{{ task.description|default:'' }}</p>
    <ul class="list-unstyled mb-0">
      <li>
        <small class="text-muted">
          {% translate 'Deadline: ' %} {{ task.deadline|default:'No deadline' }}
        </small>
      </li>
    </ul>
    <div class="progress" role="progressbar" aria-label="{{ task.title }}" aria-valuenow="{{ task.completion_rate }}"
      aria-valuemin="0" aria-valuemax="100">
      <div style="width: {{ task.completion_rate }}%"
        class="progress-bar text-bg-{% if task.completion_rate <= 25 %}danger{% elif 25 < task.completion_rate and task.completion_rate <= 50 %}warning{% elif 50 < task.completion_rate and task.completion_rate <= 75 %}info{% else %}success{% endif %}">
        {{ task.completion_rate }}%
      </div>
    </div>
    <a href="{% url 'tasks:task_detail' task.id %}" class="btn btn-lg btn-dark shadow-sm">Details</a>
  </div>
</div>