{% extends 'tasks/base.html' %}
{% load i18n %}

{% block title %}{% translate 'Tasks | List Details' %}{% endblock %}

{% block content %}
<section>
  <div class="bg-white p-4 rounded-4 mb-4">
    <div class="d-grid d-md-flex align-items-md-center justify-content-md-between gap-4 mb-4">
      <h1>{{ list.name|title }}</h1>
      <div class="d-grid d-md-flex align-items-md-center gap-4">
        <button type="button" class="btn btn-lg btn-primary d-flex align-items-center gap-4 shadow-sm"
          data-bs-toggle="modal" data-bs-target="#modal">
          <i class="bi bi-plus-lg"></i>
          {% translate 'Add task' %}
        </button>
        <a href="{% url 'tasks:update_list' list.id %}"
          class="btn btn-lg btn-dark d-flex align-items-center gap-4 shadow-sm">
          <i class="bi bi-pencil"></i>
          {% translate 'Edit' %}
        </a>
        <button type="button" class="btn btn-lg btn-danger d-flex align-items-center gap-4 shadow-sm"
          data-bs-toggle="modal" data-bs-target="#deleteModal">
          <i class="bi bi-trash"></i>
          {% translate 'Delete' %}
        </button>
      </div>
    </div>
    <p class="lead mb-0">{{ list.description|default:'' }}</p>
  </div>

  <div class="row g-4">
    {% for task in list.task_set.all %}
    <div class="col-12 col-md-6 col-lg-4">
      {% include 'tasks/components/task.html' %}
    </div>
    {% empty %}
    <div class="col-12">
      <div class="card card-body border-0 p-4 rounded-4">
        <h2>{% translate 'No Tasks' %}</h2>
        <p>{% translate 'This list not contains any tasks' %}</p>
        <button type="button" class="btn btn-lg btn-dark shadow-sm" data-bs-toggle="modal" data-bs-target="#modal">
          {% translate 'Add new task' %}
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<div class="modal fade modal-sheet" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow p-4">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title dispaly-5">
          {% translate 'Add new task' %}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form" action="{% url 'tasks:create_task' %}" method="post" class="d-grid gap-4">
          {% csrf_token %}
          <input type="hidden" name="list" value="{{ list.id }}">

          <div class="d-grid gap-4">
            <div class="form-floating">
              <input type="text" name="title" maxlength="32" required="" id="id_title" class="form-control"
                spellcheck="false" data-ms-editor="true">
              <label for="id_title" class="form-label">Title:</label>
              <small class="text-muted">Task title</small>
            </div>

            <div class="form-floating">
              <input type="text" name="description" maxlength="256" id="id_description" class="form-control"
                spellcheck="false" data-ms-editor="true">
              <label for="id_description" class="form-label">Description:</label>
              <small class="text-muted">Task description</small>
            </div>

            <div class="form-floating">
              <input type="datetime-local" name="deadline" id="id_deadline" class="form-control" spellcheck="false"
                data-ms-editor="true">
              <label for="id_deadline" class="form-label">Deadline:</label>
              <small class="text-muted">Task deadline</small>
            </div>

            <div class="form-floating">
              <input type="number" name="completion_rate" value="0" min="0" required="" id="id_completion_rate"
                class="form-control">
              <label for="id_completion_rate" class="form-label">Completion rate:</label>
              <small class="text-muted">Task completion percentage</small>
            </div>

            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" name="completed" id="id_completed" class="form-check-input">
                <label for="id_completed" class="form-check-label form-label">
                  Completed
                </label>
              </div>
              <small class="text-muted">Designates if the task is completed</small>
            </div>

            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" name="starred" id="id_starred" class="form-check-input">
                <label for="id_starred" class="form-check-label form-label">
                  Starred
                </label>
              </div>
              <small class="text-muted">Designates if the task is important</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer flex-column align-items-stretch w-100 gap-2 border-top-0">
        <button type="submit" form="form" class="btn btn-lg btn-dark shadow-sm">
          {% translate 'Add task' %}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-sheet" tabindex="-1" role="dialog" id="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow p-4">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title dispaly-5">
          {% translate 'Delete List' %}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-grid gap-4">
        <p class="lead mb-0">{% translate 'Are you sure you want to delete this list?' %}</p>

        <form id="form" action="{% url 'tasks:delete_list' list.id %}" method="post">
          {% csrf_token %}

          <button type="submit" class="btn btn-lg btn-danger shadow-sm w-100">
            {% translate 'Delete' %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}