{% extends 'tasks/base.html' %}
{% load i18n %}

{% block title %}{% translate 'My Task Lists' %}{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-between mb-4">
  <h1 class="display-3 mb-0">
    {% translate 'My Lists' %}
  </h1>
  <a href="{% url 'tasks:create_list' %}" class="btn btn-lg btn-dark shadow-sm d-flex align-items-center gap-4">
    <i class="bi bi-plus-lg"></i>
    {% translate 'New' %}
  </a>
</div>

<div class="row g-4 mb-5">
  {% for list in list_list %}
  <div class="col-12 col-md-6 col-lg-4">
    {% include 'tasks/components/list.html' %}
  </div>
  {% empty %}
  <div class="col-12 text-center">
    <div class="card card-body border-0 p-4 rounded-4">
      <h2>{% translate 'Oops' %}</h2>
      <p class="lead">
        {% translate 'It looks like you not have any task lists' %}
      </p>
    </div>
  </div>
  {% endfor %}
</div>

{% if is_paginated %}
  {% include 'tasks/components/pagination.html' %}
{% endif %}
{% endblock %}